[ ca ]
default_ca = CA_default
[ CA_default ]
default_md = sha256
default_days = 825
[ req ]
prompt             = no
default_bits       = 4096
distinguished_name = req_distinguished_name
x509_extensions     = req_ext
[ req_distinguished_name ]
countryName                = US
stateOrProvinceName        = CA
localityName               = ...
organizationName           = Dashu
commonName                 = dashu.coffee
[ req_ext ]
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = mesh.dashu.coffee
DNS.2 = localhost
